
%h1
  Project Zebra
  
%h2 Idea

%p
  Who wears the stripes in this city?
  %a{href: "http://www.flickr.com/photos/sikelianos/6950669584/in/photostream"} Jenelle and I
  wanted to find out, so we 
  walked the 
  %a{href: "http://www.sundaystreetssf.com/"}Sunday streets 
  of San Francisco, observing and
  %a{href: "http://www.flickr.com/photos/sikelianos/7483341958/"} collecting data
  about all the striped-shirt-wearing people we laid eyes upon.

%h2 Data

%ul
  %li
    %b#count_women
    Women
  %li
    %b#count_men
    Men
  %li
    %b#count_horizontal
    Horizontal Stripes
  %li
    %b#count_vertical
    Vertical Stripes
  %li
    %b#count_slender
    Slender People
  %li
    %b#count_husky
    Husky People

#results


%h2 Observations

%ol
  %li Horizontal stripes are in.
  %li Husky girls don't wear vertical stripes.
  %li Vertical stripes are more often found on dress shirts.
  %li Horizontal stripes are more often found on tee shirts.
  %li Men wear vertical stripes more often than women.
  %li Classifying people into two distinct weight brackets is silly.
  %li This exercise changed the way we look at people.


%p.footer
  A project by
  %a{href: "http://twitter.com/zeke"}zeke
  and
  %a{href: "http://pinterest.com/nelbobaggins/"}jenelle
  