!!! 5
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %title Project Zebra
    %link{rel: "stylesheet", href: "/css/app.css", type: 'text/css', media: "screen", charset: "utf-8"}
    %script{type: "text/javascript", src:"http://code.jquery.com/jquery.min.js"}
    %script{type: "text/javascript", src:"/js/app.js"}

  %body
    #content
      = yield